@font-face {
    font-family: urbanist;
    src: url('/files/font/Urbanist-Regular.ttf');
}
:root{
    --pcolor : #B75A48;
    --pcolor-dull : #b75a488b;
    --scolor : #E8ECD6;
    /* --pcolor : #000000;
    --pcolor-dull : #0606068b;
    --scolor : #ffffff; */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'urbanist',sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    background: var(--pcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul{
    visibility: hidden;
}
.re{
    visibility: visible;
    justify-content: end;
    margin-right: -150px;
}
.re a{
    text-decoration: none;
    color: var(--scolor);
}
body{
    background: var(--scolor);
}
.head{
    padding: 32px 14px;
    font-size: 25px;
    color: var(--scolor);
    /* cursor: alias; */
}
/* --------about me------ */
.intro{
    margin:65px 30px;
}
.hi{
    font-size: 40px;
}
.name{
    font-size: 32px;
}
.intro p{
    margin-top: 10px;
    font-size: 20px;
}
/* ----skills---- */
.heading{
    margin:45px 30px;
    font-size: 28px;
}
.container{
    margin: 35px 30px;
    /* display: flex; */
    /* flex-direction: column ; */
    /* gap: 20px; */
}
.container img{
    margin: 8px;
    padding: 3px;
    border: 3px solid var(--pcolor);
    border-radius: 5px;
    background: var(--pcolor-dull);
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.projects{
    margin:45px 25px;
    font-size: 20px;
}
.project{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 270px;
    height: 425px;
    background: var(--pcolor);
    border-radius: 5px;
}
.project img{
    margin: 17px 8px;
    width: 255px;
    height: 153px;
    object-fit: cover;
    border: 2px solid rgb(255, 189, 189);
    box-sizing: border-box;
    border-radius: 2px;
}
.subHeading{
    color: var(--scolor);
    text-align: center;
}
.project p{
    margin-top: 5px;
    text-align: center;
    padding: 3px 8px;
    font-size: 14px;
    color: var(--scolor);
}
.project button{
    margin-top: 10px;
    background: #B4C4B4;
    width: 250px;
    height: 40px;
    text-align: center;
    /* margin: 0px 30px ; */
    border-radius: 2px;  
    cursor: pointer;  
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
}
.email{
    margin-top: 20px;
    background: var(--pcolor);
    height: 48px;
    width: 157px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: var(--scolor);
    cursor: pointer;
}
footer{
    background: #000;
    color: white;
    width: 100%;
    height: 185px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: end;
}
footer a{
    /* margin: 10px; */
    text-decoration: none;
    color: white;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    object-fit: cover;
}
.social img{
    width:30px;
    height: 30px;
    cursor: pointer;
}
.res{
    margin: 20px;
    cursor: pointer;
    text-decoration: underline;
}
@media (min-width: 1200px) { 
    .head{
        padding-left: 25px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    nav ul{
        visibility:visible;
        display: flex;
        list-style: none;
        padding: 30px;
        gap: 30px;
        
    }
    nav ul a{
        text-decoration: none;
        color: var(--scolor);
    }
    .heading{
        margin-left: 100px;
        font-size: 35px;
    }
    html {
        scroll-behavior: smooth;
    }
    nav ul a:hover{
        transform: scale(2);
        text-decoration: underline;
    }
    .container{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .intro{
        margin-left: 50px;

    }
    .contact{
        display: flex;
        justify-content: center;
        margin: 100px;
    }
    .contact .email:hover{
        transform: scale(1.2);
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .projects{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .project button:hover{
        transform: scale(1.05);
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .container img:hover{
        transform: scale(1.1);
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .re{
        visibility: hidden;
    }
    



}